#menu .movies-menu ul{
    display: none
}


/*
#menu li:hover #movies-menu {
    display: block;
    position: absolute;
    margin:0px;
}
#menu li:hover #movies-menu li {
    display: block;
    margin:0px;
}

*/



