#menu .movies-menu ul{
    display: none
}

.movie-container .movie-picture{
    float:left;
    margin: 1%
}

.description-outline{
    margin-top: 2%
}

/*
#menu li:hover #movies-menu {
    display: block;
    position: absolute;
    margin:0px;
}
#menu li:hover #movies-menu li {
    display: block;
    margin:0px;
}

*/



