
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            {{#each this}}
            <div class="col-md-3">
                <div class="well">
                    <h4><span class="label label-primary pull-right">{{this.Movies.length}} Movies</span><a href="#/movies/genre/:{{this.Name}}"  class="text-primary">{{this.Name}}</a></h4>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<ul class="pagination">
    <li><a href="#"><<</a></li>
    <li><a href="http://moviehunterui.azurewebsites.net/index.html#/movies?page=1">1</a></li>
    <li><a href="http://moviehunterui.azurewebsites.net/index.html#/movies?page=2">2</a></li>
    <li><a href="http://moviehunterui.azurewebsites.net/index.html#/movies?page=3">3</a></li>
    <li><a href="http://moviehunterui.azurewebsites.net/index.html#/movies?page=4">4</a></li>
    <li><a href="http://moviehunterui.azurewebsites.net/index.html#/movies?page=5">5</a></li>
    <li><a href="http://moviehunterui.azurewebsites.net/index.html#/movies?page=6">6</a></li>
    <li><a href="#">>></a></li>
</ul>
