<div class="row">
    <div class="col-md-offset-4 col-md-4" >
        <form id="form-register">
            <input type="text" class="form-control login-username" id="tb-login-username" name="username" placeholder="Account name"
                   required/>
            <input type="password" class="form-control" id="tb-login-password-initial" name="password" placeholder="Password"
                   required/>
            <button class="btn btn-sm btn-primary form-control" id="btn-login" type="submit">Login</button>
            <button class="btn btn-sm btn-primary form-control" id="btn-go-to-register" onclick="return false;">Go To Register
            </button>
        </form>

    </div>
</div>