<div class="movie-container">
    <div class="caption">
        <h3>{{this.Title}}</h3>
        Duration: {{this.Duration}} min
        {{#each this.Genres}}
        |&nbsp<a href="#/movies/genre/:{{this}}">{{this}}</a>&nbsp
        {{/each}}
        <p>Release date:&nbsp{{ReleaseDate}}</p>
    </div>
<img src="{{this.Image}}" class="img-responsive movie-picture" />

    <p class="description-outline">{{this.Description}}</p>
    Stars:{{#each this.Actors}}
    <a href="#/actors/name/:{{this}}" class="actor-link">{{this}}</a>&nbsp
    {{/each}}

    {{#each this.Trailers}}
    <p><a href="{{this}}" class="btn btn-primary">Watch Trailer</a>
    <p>
        <a href="#/movies" class="btn btn-primary" id="url-button">Save image URL</a>
        <button class="btn btn-primary" id="btn-add-to-want-to-watch" type="submit">Want To Watch</button>
        <button class="btn btn-primary" id="btn-add-to-watched" type="submit">Add to Watched</button>
        {{/each}}

<p>Rating: {{this.Rating}}</p>
    <button class="btn btn-primary change-rating" type="submit">Change Rating</button>
    <div class="slider-form">
        <input type="text" name="chance" id="chance" class="text" value="5">
        <input type="range" id="chanceSlider" class="vHorizon" min="0" max="10" step="1" style="background-color: #00aec8; width: 50%;">
        <button class="btn btn-primary submit-new-rating" type="submit">Submit New Rating</button>
    </div>

</div>

